= form_for order do |f|
  - if order.errors.any?
    #error_explanation
      %h2
        = pluralize(order.errors.count, "error")
        prohibited this order from being saved:
      %ul
        - order.errors.full_messages.each do |message|
          %li= message
  .row
    .col-md-3
      .panel
        .field
          .row.location-selection
            .col-md-12
              = f.label :restaurant_id
              %hr
            .col-md-12
              = f.select :restaurant_id, Restaurant.all.collect { |r| [ r.name, r.id ] }, prompt: 'Restaurant'
      .panel
        .field
          .row.location-selection
            .col-md-12
              = f.label :section
              %hr
            .col-md-12
              = f.select :section, Order::SECTION.collect { |s| [ s ] }, prompt: 'Section'
      .panel
        .field
          .row.location-selection
            .col-md-12
              = f.label :seat
              %hr
            .col-md-12
              = f.select :seat, (1..50).collect { |s| [ s ] }, prompt: 'Seat'
      .actions
        = f.submit
    .col-md-5.items
      - Item.all.each do |item|
        .panel{ id: item.id}
          .row
            .col-md-7.name
              = f.hidden_field :item_name, value: item.name
              = item.name
            .col-md-2.price
              = number_to_currency(item.price)
            .col-md-2
              %button.btn.btn-success{ type: "button", data: { action: 'add-item' } } Add Item
    .col-md-4
      Current Sale
      .panel.current-sale

:javascript
  $(document).ready(function() {
    $("[data-action='add-item']").click(function() {
      itemId = $(this).closest('.panel').attr('id')
      itemName = $(this).closest('.row').find("[name='order[item_name]']").val()
      itemNameHTML = "<div class='row'><div class='col-md-12'>" + itemName + "</div>" + "</div>"
      $('<input>').attr({
        type: 'hidden',
        name: "items_attributes[][id]",
        value: itemId
      }).appendTo('form');
      $('.current-sale').append(itemNameHTML)
    });
  });