- line_items = order.line_items.sort_by { |li| li.item.name }
- grouped_line_items = line_items.group_by(&:item_id)


- grouped_line_items.each do |item_id, line_items|  
  - line_items_with_notes = line_items.select { |li| li.notes.present? }
  - line_items_without_notes = line_items.reject { |li| li.notes.present? }

  / Show line_items with notes (for this item) individually
  - line_items_with_notes.each do |line_item|
    .row
      .col-md-6.item-name
        = "(1) #{line_item.item.name}"
      .col-md-6.item-notes
        = line_item.notes
    %hr

  / Group all the line_items without notes (for this item) together
  - if line_items_without_notes.present?
    .row
      .col-md-6.item-name
        = "(#{line_items_without_notes.count}) #{line_items.first.item.name}"
    %hr