%h2 Log in
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .row.custom-form
    .col-md-3.section
      .panel
        .field
          .row
            .col-md-12
              = f.label :email
              %hr
            .col-md-12
              = f.email_field :email, autofocus: true, autocomplete: "email"
  .row.custom-form
    .col-md-3.section
      .panel
        .field
          .row
            .col-md-12
              = f.label :password
              %hr
            .col-md-12
              = f.password_field :password, autocomplete: "off"
  - if devise_mapping.rememberable?
    %br
    .field{ style: 'font-size: 18px' }
      = f.check_box :remember_me
      = f.label :remember_me
  .row{ style: 'margin-top: 20px;' }
    .text-center.col-md-3
      %button.btn.btn-primary.big-blue-btn{ type: "submit" }
        Log in
  %br
= render "devise/shared/links"
