%p#notice= notice
.item-index
  .row.header
    .col-md-9
      %h1 Restaurants
%table.table.table-striped
  %thead
    %tr
      %th Restaurant Name
      %th Orders
      %th Items
      %th Recap
  %tbody
    - @restaurants.each do |restaurant|
      %tr
        %td= restaurant.name
        %td= link_to 'Orders', restaurant_orders_path(restaurant)
        %td= link_to 'Items', restaurant_items_path(restaurant)
        %td= link_to 'Recap', recap_restaurant_path(restaurant)